<html>
  <body>
    <center>
      <div style="background-color: #d3d3d3; max-width: 840px; margin: 0; padding: 30px;">
        <h2 style="color: #292536; text-align: center">Solicitação de recuperação de senha</h2>
        <p>Sua senha está abaixo! Caso desconfie que alguém saiba sua senha, faça login e modifique-a!</p>
        <div style="margin: 20px auto; width: 120px; padding: 10px 20px; background-color: #8994CE; border-radius: 5px">
          <h5>{{password}}</h5>
        </div>
      </div>
    </center>
  </body>
</html>
